/src/src/main/resources/META-INF/persistence.xml
/src/target/
/src/target/classes/META-INF/
src/pom.xml
src/src/main/resources/META-INF/persistence.xml
src/src/main/resources/META-INF/persistence.xml
